@font-face {
    font-family: "Raleway Var";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("fonts/Raleway-VariableFont_wght.ttf") format("truetype");
    font-named-instance: "Regular";
}

@font-face {
    font-family: "Raleway Var";
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("fonts/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
    font-named-instance: "Italic";
}

$body: "Raleway Var", "Roboto", "Open Sans", Montserrat, "Noto Sans", Arial, sans-serif;
$script: "Fira Mono", "Noto Mono", "JetBrains Mono", Montserrat, monospace;

$default: #00d1b2;
$default-d: #00a78e;

$dark: #111111;
$light: #e7e7e7;

.loading-page {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    place-content: center;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: $body;
}

p {
    font-size: 1.2rem;
    font-weight: 450;
}

#app, body, html {
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
}

.learn-act {
    overflow: hidden;
    height: calc(100vh);

    .options-header {
        display: flex;
        justify-content: space-between;
        width: calc(100vw - 80px);

        height: 80px;
        padding: 0 40px;

        color: white !important;
        background-color: $default;

        @media only screen and (max-width: 768px) {
            width: calc(100vw - 40px);
            padding: 0 20px;
        }

        @media only screen and (max-width: 375px) {
            width: calc(100vw - 25px);
            padding: 0 5px 0 20px;
        }

        .options {
            display: flex;

            .option-button {
                font-size: 1.5rem;
                display: flex;

                justify-content: center;
                width: 80px;
                height: 100%;

                cursor: pointer;
                transition: background-color 150ms ease-out;

                text-decoration: none;
                color: white;
                border: none;
                outline: none;

                background-color: transparent;
                place-items: center;

                @media only screen and (max-width: 375px) {
                    width: 60px;
                }

                &:hover {
                    background-color: $default-d;
                }
            }
        }
    }

    &.dark {
        background-color: $dark;

        .line-by-line {
            .circle-button {
                border-color: $default;
                background-color: $light;
            }

            .container {
                color: white;
                background-color: black;

                button {
                    &:hover {
                        color: #c3c3c3 !important;
                    }
                }
            }
        }

        .test-act {
            .request-code {
                color: white !important;

                input {
                    color: white;
                    background-color: #1c1c1c;
                }
            }
        }
    }

    &.light {
        .line-by-line {
            .circle-button {
                border-color: $default-d;
                background-color: $default;
            }

            .container {
                background-color: $light;

                button {
                    &:hover {
                        color: #3c3c3c !important;
                    }
                }
            }
        }
    }

    .test-act {
        .request-code {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 100vw;
            height: calc(100vh - 80px);

            input[disabled] {
                color: #8c8c8c !important;
            }

            .act-code {
                font-family: $script;
                font-size: 5rem;
                text-align: center;
                border: none;
                outline: none;
                background-color: transparent !important;
            }

            .name {
                font-family: $body;
                font-size: 1rem;
                font-weight: 600;
                margin-top: 20px;
                margin-bottom: 10px;
                padding: 10px 20px;
                text-align: center;
                border: 2px solid $default;
                border-radius: 50px;
                width: 400px;
                outline: none;
                transition: border-color 150ms ease-out;

                &:focus {
                    border-color: $default-d;
                }

                @media only screen and (max-width: 500px) {
                    width: calc(90% - 40px);
                }
            }

            .submit-act-code {
                background-color: $default;
                border: none;
                padding: 10px 20px;
                font-family: $body;
                font-weight: bold;
                color: white;
                border-radius: 5px;
                font-size: 1rem;
                transition: background-color 150ms ease-out;

                &[disabled] {
                    background-color: lighten(desaturate($default, 70%), 10%);
                    cursor: not-allowed;
                }

                &:hover:not([disabled]) {
                    cursor: pointer;
                    background-color: $default-d;
                }
            }
        }
    }

    .line-by-line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: calc(100vh - 80px);

        .circle-button {
            width: 40px;
            height: 40px;
            margin: 20px;
            cursor: pointer;
            border: 2px solid;
            border-radius: 20px;
        }

        .container {
            width: 80%;
            padding: 40px 50px;
            text-align: justify;
            border-radius: 10px;

            .speaker {
                font-family: $script;
                font-size: 2rem;
                margin-top: 0;
                margin-bottom: 10px;
            }

            button {
                position: inherit;
                display: block;
                margin-top: 0;
                margin-bottom: 1.5rem;
                padding-left: 0;
                cursor: pointer;
                color: inherit;
                border: none;
                outline: none;

                background-color: transparent;

                @media only screen and (max-width: 500px) {
                    margin-right: auto !important;
                    margin-left: auto !important;
                }

                h5 {
                    font-family: $body;
                    font-size: 1rem;
                    margin: 0;

                    .key {
                        margin: 0 6px;
                        padding: 2px 5px;
                        border: 2px solid #a0a0a0;
                        border-radius: 4px;
                    }

                    @media only screen and (min-width: 500px) {
                        &.mobile-only {
                            display: none;
                        }
                    }

                    @media only screen and (max-width: 500px) {
                        &.desktop-only {
                            display: none;
                        }
                    }
                }
            }

            .text {
                font-family: $script;
                font-weight: lighter;

                br {
                    display: block;
                    margin-bottom: 6px;
                    content: " ";
                }

                .word-guesser {
                    font-family: $script;
                    font-size: inherit;
                    width: min-content;
                    color: inherit;
                    border: none;
                    outline: none;
                    background-color: transparent;

                    &[disabled] {
                        color: #a5a5a5 !important;
                    }
                }
            }
        }

        @media only screen and (max-width: 460px) {
            position: relative;
            justify-content: center;

            .circle-button {
                position: absolute;
                bottom: 10px;

                &.prev-button {
                    left: 10px;
                }

                &.next-button {
                    right: 10px;
                }
            }

            .container {
                width: calc(100% - 50px);
                padding: 30px 20px;
                text-align: center;
            }
        }
    }
}

.all-acts {
    padding: 30px 25px;

    @media only screen and (max-width: 460px) {
        text-align: center !important;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 10px;
    }

    p {
        margin-top: 0;
    }

    .act-container {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% + 20px);
        margin-top: 10px;
        margin-left: -20px;

        .act-card {
            display: block;
            width: 20%;
            margin-top: 20px;

            margin-left: 20px;
            padding: 20px 50px;

            cursor: pointer;

            transition: background-color 150ms ease-out;
            text-align: left;
            text-decoration: none;

            color: white;
            border: none;

            border-radius: 10px;

            outline: none;

            background-color: $default;

            &:hover {
                background-color: $default-d;
            }

            h3 {
                font-size: 2.2rem;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            h6 {
                font-size: 1.2rem;
                margin-top: 20px;
                margin-bottom: 15px;
            }

            @media only screen and (max-width: 1024px) {
                width: calc(33% - 120px);
            }

            @media only screen and (max-width: 768px) {
                width: calc(50% - 80px);
                padding: 20px 30px;
            }

            @media only screen and (max-width: 500px) {
                min-width: calc(100% - 80px);
                text-align: center;
            }
        }
    }
}
